<%= form_with  model: @user do |u| %>
  <p>
    <%= u.label :name %>
    <%= u.text_field :name, placeholder: 'Name', class: '' %>
  </p>
  <p>
    <%= u.label :email %>
    <%= u.text_field :email, placeholder: 'Email', class: '' %>
  </p>
  <p>
    <%= u.label :password %>
    <%= u.password_field :password, class: '' %>
  </p>
  <p>
    <%= u.label :password_confirmation %>
    <%= u.password_field :password_confirmation, class: '' %>
  </p>
  <%= u.submit 'Registration', class: '' %>
<% end %>