<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FlashCards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="page-header page-container">
      <div class="logo">
        <a class="logo__link" href="/">
          <%= image_tag 'logo-flashcard.png', alt: 'Flashcards logo', class: 'logo__img' %>
          <p class="logo__text">Flashcards</p>
        </a>
      </div>
      <% if  user_signed_in? %>
        <%= render 'shared/menu' %>
      <% end %>
    </header>
    <main class="page-main page-container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert--#{message_type}") %>
      <% end %>
      <%= yield %>
    </main>
  <footer class="page-footer page-container">
    <p>Copyright © 2024 Flashcards app. | Designed by <%= link_to 'DTutov', 'https://github.com/dtutoff', class: 'page-footer__link' %>.</p>
  </footer>
  </body>
</html>
